
<div>
    <h3>Список сторінок
        <i class="fa-solid fa-file"></i>
    </h3>


    <q>Проєкт в управлінні проєктами — обмежена в часі, ресурсах та вимогах якості унікальна сукупність процесів,
        направлена на досягнення унікальних цілей та завдань для створення нової цінності (продукту або послуги).
    </q>

</div>
<div class="row mt-5">
    <i class="fa-solid fa-bars" style="color: #ab9e07;"></i>
    <form action="/summary" target="_blank">
        <button class="btn btn-primary col-2 m-2">Summary page</button>
    </form>
    <form action="/skills" target="_blank">
        <button class="btn btn-primary col-2 m-2">Skills page</button>
    </form>
    <form action="/education" target="_blank">
        <button class="btn btn-primary col-2 m-2">Education page</button>
    </form>
    <form action="/work" target="_blank">
        <button class="btn btn-primary col-2 m-2">Work page</button>
    </form>
    <form action="/bio" target="_blank">
        <button class="btn btn-primary col-2 m-2">Bio page</button>
    </form>
    <form action="/car" target="_blank">
        <button class="btn btn-primary col-2 m-2">Car page</button>
    </form>
    <form action="/facebook" target="_blank">
        <button class="btn btn-primary col-2 m-2">Facebook page</button>
    </form>
    <form action="/js" target="_blank">
        <button class="btn btn-primary col-2 m-2">JS page</button>
    </form>
    <form action="/mac" target="_blank">
        <button class="btn btn-primary col-2 m-2">Mac page</button>
    </form>
    <form action="/person" target="_blank">
        <button class="btn btn-primary col-2 m-2">Person page</button>
    </form>
    <form action="/program" target="_blank">
        <button class="btn btn-primary col-2 m-2">Program page</button>
    </form>
    <form action="/shopcart" target="_blank">
        <button class="btn btn-primary col-2 m-2">Shopcart page</button>
    </form>
    <form action="/web" target="_blank">
        <button class="btn btn-primary col-2 m-2">Web page</button>
    </form>
    <form action="/shopcatalog" target="_blank">
        <button class="btn btn-primary col-2 m-2">Shopcatalog page</button>
    </form>
    <form action="/shophome" target="_blank">
        <button class="btn btn-primary col-2 m-2">Shophome page</button>
    </form>
    <form action="/shoporder" target="_blank">
        <button class="btn btn-primary col-2 m-2">Shoporder page</button>
    </form>
    <form action="/shopprofile" target="_blank">
        <button class="btn btn-primary col-2 m-2">Shopprofile page</button>
    </form>
    <form action="/shopreview" target="_blank">
        <button class="btn btn-primary col-2 m-2">Shopreview page</button>
    </form>
    <form action="/task21" target="_blank">
        <button class="btn btn-primary col-2 m-2">Task21 page</button>
    </form>
    <form action="/task22" target="_blank">
        <button class="btn btn-primary col-2 m-2">Task22 page</button>
    </form>
    <form action="/task31" target="_blank">
        <button class="btn btn-primary col-2 m-2">Task31 page</button>
    </form>
</div>

{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>


    <button type="button" class="btn btn-primary">Купити</button>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}

